header{
  height: 200px;
  position: absolute;
  top: 73px;
  left: 174px;
  z-index: 1;
  nav{
    display: flex;
    gap: 40px;
  }
  a{
    position: relative;
    padding: 12px 0;
    font-family: Raleway;
    font-size: 13px;
    line-height: 48px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-decoration: none;
    &:hover::before{
      width: 100%;left: 0;
    }
    &::before{
      content: '';
      transition: width .3s, left .3s;
      left: 50%;
      position: absolute;
      bottom: 10px;
      width: 0;
      height: 2px;
      background-color: #f26522;
    }
  }
}

@media (max-width:768px) {
  header{
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width:500px) {
  header{
    nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 100px;
    }
  }
}