.main{
  background: url('../../images/background1.jpg') 0 0/cover no-repeat;
  width: 100%;
  height: 1238px;
  padding: 73px 0 0 174px;
  position: relative;
  &__text-content{
    position: absolute;
    top: 43.29%
  }
  h2{
    font-family: Raleway;
    font-size: 45px;
    line-height: 48px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 35px;
    &:before{
      content: '';
      margin-top: -49px;
      position: absolute;
      width: 18px;
      height: 2px;
      opacity: 0.2;
      background-color: #fff;
    }
  }
  p{
    max-width: 389px;
    letter-spacing: -0.3px;
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    color: #a8b2ba;
    &:before{
      content: '';
      bottom: -35px;
      position: absolute;
      width: 18px;
      height: 2px;
      background-color: #fff;
    }
    &:after{
      content: '';
      left: 0;
      bottom: -63px;
      position: absolute;
      width: 18px;
      height: 2px;
      opacity: 0.2;
      background-color: #fff;
    }
  }
}

@media (max-width:1366px) {
  .main{
    &__text-content{
      position: absolute;
      top: 28%
    }
  }
}
@media (max-width:768px) {
  .main{
    padding: 73px 0 0 85px;
  }
}
@media (max-width:500px) {
  .main{
    padding: 23px 0 0 35px;
  }
}