.section-melbourne{
  display: inline-grid;
  grid-template: [start] 'title title' [row-2]
                 [row-2] 'first third' [row-3]
                 [row-3] 'second fourth ' [row-end];
  h2{grid-area: title;}
  .first{grid-area: first;} 
  .second{grid-area: second;}
  .third{grid-area: third;}
  .fourth{grid-area: fourth;}
  gap: 36px 27px;  

  letter-spacing: -0.3px;
  padding: 80px 210px;
  .text-highlighted{
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #b6b6b6;
  }
  .text-content{
    font-family: 'Open Sans';
    color: #83969f;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #83969f;
  }
}
@media (max-width:1366px) {
  .section-melbourne{
    padding: 60px 157px;
  }
}

@media (max-width:992px) {
  .section-melbourne{
    padding: 40px 105px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .section-melbourne{
    padding: 30px 50px;
  }
}