.title-words{
  position: relative;
  height: 818px;
  &__background-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__block{
    bottom: 0;
    left: 210px;
    position: absolute;
    display: flex;
  }
  &__title{
    padding: 111px 0 0 58px;
    font-family: Raleway;
    font-size: 60px;
    line-height: 70px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    width: 459px;
    height: 459px;
    background: #f26522;
  }
  &__image{
    width: 459px;
    height: 459px;
  }
}

@media (max-width: 1599px) {
  .title-words{
    &__title{
      padding: 70px 42px;
      font-size: 45px;
    }
    &__title,
    &__image,
    &__image img{
      max-width: 340px;
      max-height: 340px;
    }
  }
}
@media (max-width:1366px) {
  .title-words{
    height: 518px;
    &__block{
      left: 0;
    }
  }
}
@media (max-width:768px) {
  .title-words{
    &__block{
      width: 100%;
    }
    &__title{
      padding: 44px 26px;
      font-size: 30px;
      line-height: 50px;
    }
    &__title,
    &__image,
    &__image img{
      max-width: 240px;
      max-height: 240px;
    }
  }
}
@media (max-width:500px) {
  .title-words{
    &__title{
      font-size: 20px;
      line-height: 30px;
    }
    &__title,
    &__image,
    &__image img{
      max-width: 140px;
      max-height: 140px;
    }
  }
}