@import './reset';
@import './main';
@import './header';
@import './section-orange';
@import './section-melbourne';
@import './title-words';
@import './section-words';
@import './footer';

.wrapper{
  max-width: 1600px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.title{
  font-family: Raleway;
  font-size: 35px;
  line-height: 39px;
  font-weight: 300;
  text-transform: uppercase;
  color: inherit;
}
body {
  overflow: overlay;
}
::-webkit-scrollbar{
  width: 16px;
}
::-webkit-scrollbar-track{
  margin: 5px;
}
::-webkit-scrollbar-thumb{
  background: rgba($color: #f26522, $alpha: 0.8);
  border: 2px solid whitesmoke;
  border-radius: 100vh;
}

@media (max-width: 1599px) {
  .wrapper{
    max-width: 1366px;
  }
}
@media (max-width: 1366px) {
  .wrapper{
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .wrapper{
    max-width: 768px;
  }
}